<div class="row">
    <div class="col-md-12">
        <%-include("../message")%>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Form Details</h3>
                </div>
                <form method="post" id="profile_form"  enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="old_password">Old Password <strong class="asterisk">*</strong></label>
                            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Enter Old Password" value="">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="new_password">New Password <strong class="asterisk">*</strong></label>
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password" value="">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password <strong class="asterisk">*</strong></label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter Confirm Password" value="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                        <a href="/v1/admin/dashboard" class="btn btn-default ml-2">Cancel</a>
                    </div>
                </form>
            </div>
    </div>
</div>

<script>
    $(function () {
        $("#profile_form").validate({
            rules: {
                old_password: {
                    required: true,
                    minlength: 6
                },
                new_password: {
                    required: true,
                    minlength: 6
                },
                confirm_password:{
                    required: true,
                    equalTo: "#new_password"
                }
            },
            messages: {
                old_password: {
                    required: "Please enter old password",
                    minlength: "Your password must be at least 6 characters long"
                },
                new_password: {
                    required: "Please enter new password",
                    minlength: "Your new password must be at least 6 characters long"
                },
                confirm_password: {
                    required: "Please enter confirm password",
                    equalTo: "New password and confirm password should be equal"
                }
            }            
        })
    })
</script>