<div class="row">
    <div class="col-12">
        <%-include("../message")%>
            <div class="card">
                <div class="card-header col-2">
                    <button class="btn btn-block btn-outline-primary float-right" onclick="dataAddModal()">Add Category</button>
                </div>
                <div class="card-body">
                    <table id="categoryTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Slug</th>
                                <!-- <th>CreatedAt</th> -->
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
    </div>
</div>
<div id="htmlModal"></div>