<div class="row">
    <div class="col-12">
        <%-include("../message")%>
            <div class="card">
                <div class="card-body">
                    <table id="contactUsTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Status</th>
                                <th>CreatedAt</th>
                                <th>UpdatedAt</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
    </div>
</div>