<div class="row">
    <div class="col-12">
        <%-include("../message")%>
            <div class="card">
                <div class="card-header col-2">
                    <a class="btn btn-block btn-outline-primary float-right" href="/v1/admin/manage_property/add">Add Property</a>
                </div>
                <div class="card-body">
                    <table id="propertyTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Name</th>
                                <th>Property Status</th>
                                <th>CreatedAt</th>
                                <th>UpdatedAt</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
    </div>
</div>